.fields {
    position: relative;
    margin: 26px 0px;
}

input {
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 50px;
    padding: 12px;
    border-bottom: 3px solid;
    transition: 300ms all linear;
}

input:focus {
    border-bottom: 3px solid red;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 32px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 32px;
}

::-ms-input-placeholder { /* Microsoft Edge */  
    font-size: 32px;
}