.fields {
    position: relative;
    margin: 26px 0px;
}

input {
    position: relative;
    top: -6px;
    left: 32px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 32px;
    padding: 12px;
    border-bottom: 3px solid;
    background-color: transparent;
    transition: 300ms all linear;
}

input:focus {
    border-bottom: 3px solid red;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 32px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 32px;
}

::-ms-input-placeholder { /* Microsoft Edge */  
    font-size: 32px;
}

.iswap {
    background-image: url("../../../icons/swap-3-210191.png");
    width: 42px;
    height: 42px;
    background-size: contain;
    cursor: pointer;
}

.rotate-90 {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}